/*======== Media Query =======*/
@media only screen and (max-width: 1500px) {
	.popup-wrap {
	    bottom: 50px;
	    height: auto;
	    right: -350px;
	}
	.slide-div {
		right: 0;
	}
	.popup-btn {
		display: block;
	}
}